@import 'assets/sass/abstracts/colors';
@import 'assets/sass/abstracts/default.settings';

$PriceSize:24px;
.list-item {
  display: flex;
  cursor:pointer;
  padding:16px 0 16px 0;
  border-bottom:1px solid map-get($color-map , light-gray-background);
  &:hover, &:focus{
      outline:none;
      border:0.5px solid map-get($color-map , light-gray);
  }

  img {
    padding:0 16px 0 16px;
    height: 180px;
    width: 180px;
    border-radius: 4px;
  }

  &__description {
    padding-top:15px;
    display: grid;
    grid-template-columns: 6fr 2fr;

    &__price {
      font-size: $PriceSize;
      color: map-get($color-map , darker-gray);
      margin-bottom: 32px;
      font-weight:600;
       img {
        height:20px;
        width:20px;
        margin: 0;
        margin-left: $item-margin;
      }
    }

    &__location{
        line-height:$PriceSize;
        font-size: 12px;
        color: map-get($color-map , light-gray);
        
    }
    
    &__title{
        font-size: 18px;;
        color: map-get($color-map , dark-gray);
    }
  }
}
